# Borrowed heavily from '/root/original-ks.cfg' inside
# https://dl.fedoraproject.org/pub/fedora/linux/releases/34/Cloud/x86_64/images/Fedora-Cloud-Base-34-1.2.x86_64.qcow2

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted --lock locked

# System language
lang en_US.UTF-8

# Reboot after installation
reboot

# Use text mode install
text

# Firewall configuration
firewall --disabled
timezone Etc/UTC --utc

# Network installation
url --url="https://dl.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/"

# SELinux configuration
selinux --enforcing

# System services
services --enabled="sshd,cloud-init,cloud-init-local,cloud-config,cloud-final"

# System bootloader configuration
bootloader --append="no_timer_check net.ifnames=0 console=tty1 console=ttyS0,115200n8" --location=mbr --timeout=1

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all

autopart --type=plain --fstype=xfs --nohome --noboot --noswap

%packages --inst-langs=en
@^cloud-server-environment
kernel-core
qemu-guest-agent
-dracut-config-rescue
-firewalld
-geolite2-city
-geolite2-country
-kernel
-plymouth
-zram-generator-defaults
%end

%post --erroronfail
# linux-firmware is installed by default and is quite large. As of mid 2020:
#   Total download size: 97 M
#   Installed size: 268 M
# So far we've been fine shipping without it so let's continue.
# More discussion about this in #1234504.
echo "Removing linux-firmware package."
rpm -e linux-firmware

# See the systemd-random-seed.service man page that says:
#   " It is recommended to remove the random seed from OS images intended
#     for replication on multiple systems"
echo "Removing random-seed so it's not the same in every image."
rm -f /var/lib/systemd/random-seed

echo "Import RPM GPG key"
releasever=$(rpm --eval '%{fedora}')
basearch=$(uname -i)
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch

echo "Zeroing out empty space."
# This forces the filesystem to reclaim space from deleted files
dd bs=1M if=/dev/zero of=/var/tmp/zeros || :
rm -f /var/tmp/zeros
echo "(Don't worry -- that out-of-space error was expected.)"

# When we build the image a networking config file gets left behind.
# Let's clean it up.
echo "Cleanup leftover networking configuration"
rm -f /etc/NetworkManager/system-connections/*.nmconnection

# Clear machine-id on pre generated images
truncate -s 0 /etc/machine-id
%end
